@page "/profile"
@inject IUserService UserService

@using AJSNutritions.Client.Services.UserService

<PageTitle>User</PageTitle>

<div class="container rounded bg-white mt-5 mb-5">
	<div class="row">
		<div class="col-md-3 border-right">
			<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">@UserData.FirstName, @UserData.LastName</span><span class="text-black-50">@UserName</span><span> </span></div>
		</div>
		<div class="col-md-5 border-right">
			<div class="p-3 py-5">
				<div class="d-flex justify-content-between align-items-center mb-3">
					<h4 class="text-right">Profile Settings</h4>
				</div>
				<div class="row mt-3">
					<EditForm Model="UserData" OnSubmit="HandleSubmit">
						<div class="col-md-15">
							<label for="FirstName">First Name</label>
							<InputText id="FirstName" @bind-Value="UserData.FirstName" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="LastName">Last Name</label>
							<InputText id="LastName" @bind-Value="UserData.LastName" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="DateOfBirth">Date Of Birth</label>
							<InputDate id="date" @bind-Value="UserData.DateOfBirth" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="height">Height(cm)</label>
							<InputNumber id="height" @bind-Value="UserData.Height" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="weight">Weight(kg)</label>
							<InputNumber id="weight" @bind-Value="UserData.Weight" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="Bmi">BMI</label>
							<div>@UserData.Bmi</div>
						</div>
						<div class="col-md-15">
							<label for="address">Address</label>
							<InputText id="address" @bind-Value="UserData.Address" class="form-control" />
						</div>
						<div>
							<label for="genderType">Gender</label>
							<select id="genderType" class="form-control" @bind="@UserData.Gender">
								@foreach (var genderType in GenderTypes)
								{
									<option value="@genderType.Id">@genderType.Name</option>
								}
							</select>
						</div>
						<br />
						<div style="font-size: 20px; margin-bottom: 20px; font-weight: bold;">
							<label> General Info </label>
						</div>
						<div class="col-md-15">
							<label for="Allergies">Allergies</label>
							<InputText id="Allergies" @bind-Value="UserData.Allergies" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="activityRate">Activity Rate</label>
							<InputText id="activityRate" @bind-Value="UserData.ActivityRate" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="MedicalHistory">Medical History</label>
							<InputText id="MedicalHistory" @bind-Value="UserData.MedicalHistory" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="TargetWeight">Target Weight</label>
							<InputNumber id="TargetWeight" @bind-Value="UserData.TargetWeight" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="TargetBmi">Target BMI</label>
							<InputNumber id="TargetBmi" @bind-Value="UserData.TargetBmi" class="form-control" />
						</div>
						<div class="col-md-15">
							<label for="TargetDate">Target Date</label>
							<InputDate id="TargetDate" @bind-Value="UserData.TargetDate" class="form-control" />
						</div>
						<br />
						<button class="btn btn-primary profile-button" type="submit">Save Profile</button>
					</EditForm>
				</div>
			</div>
		</div>
	</div>
</div>


@code {

	public string? UserName { get; set; }
	public string? Email { get; set; }
	private AJSNutritions.Shared.Domain.User UserData = new AJSNutritions.Shared.Domain.User { };

	[CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (AuthenticationStateTask != null)
		{
			var authState = await AuthenticationStateTask;
			var user = authState.User;

			if (user.Identity is not null && user.Identity.IsAuthenticated)
			{
				UserName = user.Identity.Name;

				AJSNutritions.Shared.Domain.User res = await UserService.GetByUserName(UserName);

				if (res != null)
				{
					UserData = res;
				}
			}
		}
	}

	async Task HandleSubmit()
	{
		await UserService.UpdateUser(UserData.Id, UserData);
		AJSNutritions.Shared.Domain.User res = await UserService.GetByUserName(UserName);

		if (res != null)
		{
			UserData = res;
		}
	}

	List<GenderType> GenderTypes = new List<GenderType>
	{
		new GenderType(id: 1, name: "Male"),
		new GenderType(id: 2, name: "Female"),
		new GenderType(id: 3, name: "Apache Helicopter"),
		new GenderType(id: 4, name: "Other")
	};

	public class GenderType 	
	{
		public GenderType(int id, string name)
		{
			Id = id;
			Name = name;
		}

		public int Id { get; set; }
		public string Name { get; set; }
	}
}

